# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcuserdatad
*.moved-aside
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/

# CocoaPods
Pods/

# macOS
.DS_Store

# SwiftPM
Packages/
Package.resolved

# User-specific
.env
